body {
  background: #214a27;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
* {
  font-family: sans-serif;
  font-size: 1.06em;
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  height: auto;
  width: 100%;
  user-select: none;
  border-radius: 60px;
}
#procard {
  position: relative;
  background: linear-gradient(to left, #316940, #11782d);
  border-radius: 35px;
  min-height: 580px;
  max-width: 440px;
  margin: 40px auto;
}
#procard h1 {
  color: #faeaff;
  letter-spacing: 0.5px;
  word-spacing: 4px;
}
.movembar {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-items: flex-start;
}
.movegear {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: -2px;
}
.mbar {
  width: 20px;
  height: 7px;
  background: #faeaff;
  position: absolute;
  margin: 35px;
}
.mbar::before {
  content: " ";
  width: 12px;
  height: 5px;
  background: #faeaff;
  position: absolute;
  top: 8px;
  left: 0;
}
.mbar::after {
  content: " ";
  width: 20px;
  height: 4px;
  background: #faeaff;
  position: absolute;
  top: 14px;
  left: 0;
}
.mbut:hover .mbar,
.mbut:hover .mbar::before,
.mbut:hover .mbar::after {
  background: #69d95d;
}
.user {
  display: flex;
  flex-direction: row;
  justify-content: center;
  user-select: none;
}
.user img {
  border-radius: 100%;
  width: 160px;
  border: 4px solid #6bc961;
  margin-top: -20px;
}
.gear {
  background-image: radial-gradient(
      at center center,
      #59e84a 23%,
      #59e84a 25%,
      #faeaff 57%,
      transparent 53%
    ),
    linear-gradient(
      0deg,
      transparent 43%,
      #eee 40%,
      #faeaff 57%,
      transparent 57%
    ),
    linear-gradient(
      45deg,
      transparent 43%,
      #eee 43%,
      #faeaff 57%,
      transparent 57%
    ),
    linear-gradient(
      90deg,
      transparent 40%,
      #eee 40%,
      #faeaff 60%,
      transparent 60%
    ),
    linear-gradient(
      135deg,
      transparent 43%,
      #eee 43%,
      #faeaff 57%,
      transparent 57%
    );
  width: 22px;
  height: 22px;
  border-radius: 50%;
  margin: 35px;
}
.gear:hover {
  background-image: radial-gradient(
      at center center,
      #59e84a 23%,
      #69d95d 25%,
      #43ba36 57%,
      transparent 53%
    ),
    linear-gradient(
      0deg,
      transparent 43%,
      #69d95d 40%,
      #43ba36 60%,
      transparent 60%
    ),
    linear-gradient(
      45deg,
      transparent 43%,
      #69d95d 43%,
      #43ba36 57%,
      transparent 57%
    ),
    linear-gradient(
      90deg,
      transparent 43%,
      #69d95d 40%,
      #43ba36 60%,
      transparent 60%
    ),
    linear-gradient(
      135deg,
      transparent 43%,
      #69d95d 43%,
      #43ba36 57%,
      transparent 57%
    );
}
.info li {
  color: #78e66c;
  font-size: 0.8em;
  display: inline-block;
  margin: 0 7px;
}
.hrtop {
  display: inline-block;
  background: #78e66c;
  width: 2px;
  height: 22px;
  margin: -2px auto;
}
.contacts {
  display: inline-block;
}
.contacts a {
  margin: 0 6px;
}
.bfellow {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 25px 0 0 0;
}
.bfellow a {
  position: absolute;
  box-shadow: 0 0 15px 2px solid aqua;
  color: #faeaff;
  background: #2f48;
  padding: 7px 50px;
  transition: 350ms;
  -webkit-transition: all 0.3s;
}
.bfellow a:hover {
  font-weight: bold;
  color: #2f4a;
  background: #faeaff;
  transition: 350ms;
  -webkit-transition: all 0.3s;
}
.content {
  color: #2f4a;
  background: linear-gradient(
    to bottom,
    rgba(22, 109, 63, 0.836),
    rgba(26, 158, 79, 0.533)
  );
  border-radius: 0 0 30px 30px;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content p {
  margin: 30px 0 25px 0;
}
/* .lock {
  width: 26px;
  height: 16px;
  background: #faeaff;
  position: relative;
  border-radius: 4px;
  top: 30px;
}
.lock::before {
  content: " ";
  width: 7px;
  height: 7px;
  background: transparent;
  border: 6px solid #faeaff;
  border-bottom: 0;
  border-radius: 6px 6px 0 0;
  position: absolute;
  bottom: 16px;
  right: 5px;
} */
a .fa,
div .fa-lock {
  font-size: 36px;
  transition: 500ms;
}
a:hover .fa {
  color: #2f0;
  transition: 500ms;
}
a .fa-facebook-square,
a .fa-instagram,
a .fa-twitter-square,
a .fa-linkedin-square,
a .fa-github-square,
div .fa-lock {
  color: #faeaff;
}
